.main_content {
    min-height: calc(100vh-50px);
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    padding: 3rem;
    color: white;
    margin-top: auto;
}

.footer-year {
    color: white;
}