@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body,
::before,
::after {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  padding: 0 2% 0 3%;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

li {
  display: block;
}

a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
}

a.active {
  border: 1px solid white;
}

a.active:hover {
  border: 1px solid red;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.8);
}

li a:hover {
  color: red;
  border-bottom: 1px solid red;
}